.notification-modal {
    margin: 500px 0 0 25px !important;

    .modal-content {
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    }
}

.notification-backdrop {
    background-color: transparent !important;
}