@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

%auxiliary-button {
    border: none;
    background-color: transparent;
}

.showlist {
    @include container-spacing(450px);

    .no-watchlist-item {
        text-align: center;
        color: $cyan;
        @include font-config(96px);

        p {
            @include font-config();
            color: $gray;
        }
    }

    .show {
        @include container(auto);
        padding: 5px 0;
        overflow: visible;

        .checkbox {
            margin-left: $ten-px;
            margin-top: 4px;
            cursor: pointer;
        }

        .title {
            margin: 0;
            text-align: left;
            width: 200px;
            flex-grow: 0.9;

            .checked {
                color: $gray;
                text-decoration: line-through;
            }
    
            .expand-summary {
                @extend %auxiliary-button;
                padding-left: 5px;
                font-size: 14px;
            }
    
            .expand-summary-checked {
                color: $gray;
            }

            .show-summary {
                padding-top: 5px;
                @include font-config(14px);
            }
        }

        .remove {
            @extend %auxiliary-button;
            height: 22px;
            padding-right: $ten-px;
        }
    }
}

@media screen and (min-width: 600px) {
    .showlist {
        @include container-spacing(540px);

        .show {

            .title {
                width: 450px;
                flex-grow: 0.5;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .showlist {
        @include container-spacing(700px);

        .show {

            .title {
                flex-grow: 0.9;
            }
        }
    }
}